.button {
  padding: 0.7em 2em;
  background-color: #0070ff;
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1.1em;
  transition: background 0.2s;
  margin-top: 1rem;
  font-weight: 600;
  box-shadow: 0 1px 4px rgba(0,0,0,0.05);
}

.button:hover {
  background-color: #0056b3;
  color: #e2e2e2;
}
